@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .height-90p {
    height: 90vh;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }

  html {
    scroll-behavior: smooth;
  }

  :root {
    --background: 213 38% 8%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --primary: 356 97% 63%;
    --secondary: 352 57% 38%;
    --alternative: 42 17% 91%;
    --text: #ffffff;
    --text-alt: #efeee9;
    --primary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --codebg: #f1f1f1f0;
    --primary-base: #fcfcfc;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --dark: 0 0% 18%;
    --ch-0: light;
    --ch-1: #6e7781;
    --ch-2: #0550ae;
    --ch-3: #953800;
    --ch-4: #24292f;
    --ch-5: #8250df;
    --ch-6: #116329;
    --ch-7: #cf222e;
    --ch-8: #0a3069;
    --ch-9: #82071e;
    --ch-10: #f6f8fa;
    --ch-11: #ffebe9;
    --ch-12: #dafbe1;
    --ch-13: #ffd8b5;
    --ch-14: #eaeef2;
    --ch-15: #57606a;
    --ch-16: #ffffff;
    --ch-17: #eaeef280;
    --ch-18: #fdff0033;
    --ch-19: #1a85ff;
    --ch-20: #add6ff;
    --ch-21: #0969da;
    --ch-22: #f8fafc;
    --ch-23: #d1d5db;
    --ch-24: #8c959f;
    --ch-25: #afb8c133;
    --ch-26: #ffffffe6;
  
    /* Syntax Highlighting Colors (Light Mode) */
    --token-null: #000000;
    --token-operator: #000000;
    --token-boolean: #000000;
    --token-number: #000000;
    --token-property: #fdcc59;
    --token-tag: #f7801f;
    --token-punctuation: #000000;
    --token-template-string: #5bf8ee;
    --token-script: #ffcb8b;
    --token-selector: #c85e7c;
    --token-attr-name: #b392f0;
    --token-attr-value: #008422;
    --token-function-variable: #b392f0;
    --token-black: #000000;
  }
  
  .dark {
    --background: 213 38% 8%;
    --foreground: 210 40% 98%;
    --primary: 356 97% 63%;
    --secondary: 352 57% 38%;
    --alternative: 42 17% 91%;
    --text: #ffffff;
    --text-alt: #efeee9;
    --primary-foreground: 222.2 47.4% 11.2%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --radius: 0.5rem;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --codebg: #030608;
    --primary-base: #0a0a0a;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --dark: 0 0% 18%;
    --ch-0: dark;
    --ch-1: #a1a1aa;
    --ch-2: #7dd3fc;
    --ch-3: #fb923c;
    --ch-4: #cbd5e1;
    --ch-5: #d8b4fe;
    --ch-6: #86efac;
    --ch-7: #f87171;
    --ch-8: #93c5fd;
    --ch-9: #fca5a5;
    --ch-10: #eff6ff;
    --ch-11: #450a0a;
    --ch-12: #052e16;
    --ch-13: #451a03;
    --ch-14: #111827;
    --ch-15: #a1a1aa;
    --ch-16: #0a0a0a;
    --ch-17: #6b72801a;
    --ch-18: #ffffff0b;
    --ch-19: #3b82f6;
    --ch-20: #155e75;
    --ch-21: #2563eb;
    --ch-22: #171717;
    --ch-23: #404040;
    --ch-24: #6b7280;
    --ch-25: #6b728066;
    --ch-26: #171717e6;
  
    /* Syntax Highlighting Colors (Dark Mode) */
    --token-null: #ffffff;
    --token-operator: #ffffff;
    --token-boolean: #ffffff;
    --token-number: #ffffff;
    --token-property: #fdcc59;
    --token-tag: #66befd;
    --token-punctuation: #ffffff;
    --token-template-string: #5bf8ee;
    --token-script: #ffcb8b;
    --token-selector: #c85e7c;
    --token-attr-name: #b392f0;
    --token-attr-value: #52b7ff;
    --token-function-variable: #b392f0;
    --token-black: #ffffff;
  }

  .drop-shadow-custom {
    filter: drop-shadow(0 0 18px #ffffff33);
  }
}